*,
*::before,
*::after {
	outline: none;
}

h1,
h2,
h3,
h4,
p,
ul,
li,
figure {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Roboto", sans-serif;
	color: var(--main-text-color);
}

img,
svg {
	vertical-align: middle;
}

ul {
	list-style-type: none;
}

.head__wrapper {
	border-bottom: 1px solid var(--border-bottom-color);
	background-color: var(--bg-color);
	padding: 24px 0 25px;
	gap: 93px;
}

// foot

address {
	display: flex;
	flex-direction: column;
	gap: 9px;
}

a {
	width: max-content;
}

// modal

.modal__form__wrapper {
	position: relative;
}
